<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/55ca996216.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/styles/style.css">
    <title>YouFrame</title>
</head>

<body onload="main()">
    <section class="main-section">
        <header class="main-section-header">
            <button class="btn" onclick="uplaodFile()"><i class="fas fa-upload fa-sm fa-fw"></i> Upload</button>
        </header>
        <!-- Gallery Grid -->
        <div class="gallery" id="gallery"></div>
        <footer class="main-section-header">YouFrame</footer>
    </section>

</body>

<script src="static/js/main.js"></script>

</html>